
<!DOCTYPE html>
<html>
  <body>
    <h2>Hello <%= name %></h2>
    <p>Please verify your email:</p>
    <p>Here your OTP : </p>
    <h1 style="color: blue;"><%= otp %></h1>
    <p>This OTP expired in 5 minutes.</p>
  </body>
</html>